!!!
html
  head
    title DerpHub
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 
     a(href="/") My Derps

    div.navigation
      br/
      a(href="/articles/new") New article
    != body
