!!!
html
  head
    title My Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 
     a(href="/") My Blog

    div.navigation
      br/
      a(href="/articles/new") New article
    != body
