h3 New Article
ul.errors
  - each error in errors
    li= error
    
form(method="post", action="/articles")
  label Title
  br/
  input(type="text", name="title", value="#{article.title}")
  br/

  br/

  label Content
  br/
  br/
  textarea(rows="25", cols="40", name="content")
    = article.content
  br/

  br/

  input(type="submit", value="Create")
